@mixin clearfix {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

@mixin background-image(
    $image,
    $grDir: to bottom,
    $opStart:0.3,
    $opEnd:0.5,
    $bgPos: center center
  ) {
  background:  linear-gradient(
      $grDir,
      rgba(0, 0, 0, $opStart),
      rgba(0, 0, 0, $opEnd)
    ), url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@mixin background-image-ng(
    $image,
    $bgPos: center center
  ) {
  background: url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin background-image-blue(
    $image,
    $grDir: to bottom,
    $opStart:0.3,
    $opEnd:0.8,
    $bgPos: center center
  ) {
  background:  linear-gradient(
      $grDir,
      rgba(56,104,133, $opStart),
      rgba(8,42,79, $opEnd)
    ), url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin blackGradient {
  background:  linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    );
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@mixin centerbg {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin laptop {
  @media screen and (min-device-width: 1200px)
  and (max-device-width: 1600px){
    @content;
  }
}

@mixin tablet {
  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1199px)
    and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin tabletLandscape {
  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1199px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
    @content;
  }
}


@mixin bigPhone {
  @media only screen
    and (min-device-width: 651px)
    and (max-device-width: 767px)
    and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin bigPhoneLandscapeRetina {
  @media only screen
    and (min-device-width: 651px)
    and (max-device-width: 767px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
    @content;
  }
}

@mixin bigPhoneLandscape {
  @media only screen
    and (min-device-width: 600px)
    and (max-device-width: 767px)
    and (orientation: landscape) {
    @content;
  }
}

@mixin smallPhone {
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 650px)
    and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin smallPhoneLandscape {
  @media only screen
    and (min-device-width: 500px)
    and (max-device-width: 700px)
    and (orientation: landscape) {
    @content;
  }
}







//
//
// .skills {
//   width: 100%;
//   height: 100vh;
//   position: relative;
//   top: 0;
//   background: rgba(8,42,79,1);
//   background: -moz-linear-gradient(top, rgba(56,104,133,0.75) 25%, rgba(8,42,79,0.70) 51%, rgba(8,42,79,0.9) 100%), url('images/javascript-code.jpg');
//   background: -webkit-gradient(top, bottom, color-stop(25%, rgba(56,104,133,0.75)), color-stop(51%, rgba(8,42,79,0.70)), color-stop(100%, rgba(8,42,79,0.9))), url('images/javascript-code.jpg');
//   background: -webkit-linear-gradient(top, rgba(56,104,133,0.75) 25%, rgba(8,42,79,0.70) 51%, rgba(8,42,79,0.9) 100%), url('images/javascript-code.jpg');
//   background: -o-linear-gradient(top, rgba(56,104,133,0.75) 25%, rgba(8,42,79,0.70) 51%, rgba(8,42,79,0.9) 100%), url('images/javascript-code.jpg');
//   background: -ms-linear-gradient(top, rgba(56,104,133,0.75) 25%, rgba(8,42,79,0.70) 51%, rgba(8,42,79,0.9) 100%), url('images/javascript-code.jpg');
//   background: linear-gradient(to bottom, rgba(56,104,133,0.75) 25%, rgba(8,42,79,0.70) 51%, rgba(8,42,79,0.9) 100%), url('images/javascript-code.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-color: rgba(0,0,0,.5);
// }
