
a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.home {


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #fff;
  }//*

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
      color: #fff;
  }//links

  .header_nav {
    width: 100%;
    height: 50px;
    opacity: 1;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: background-color 0.2s, opacity 0.2s;

    &:hover {
      background-color: #082a4f;
      opacity: 0.8;
       > .nav_elements .nav_element {
        color: #6c98b8;
      }
    }//header_nav:hover

    .nav_elements {

      width: 40%;
      height: 50px;
      display: block;
      margin: 0 auto;
      list-style: none;
      text-align: center;
      position: relative;
      top: 0;

      .nav_element {
        position: relative;
        display: inline-block;
        width: 25%;
        float: left;
        transition: border-top 0.2s padding 0.2s, color 0.2s;
        padding-top: 20px;
        font-weight: 700;
        color: #082a4f;

        &:hover {
          border-top: 3px solid #6c98b8;
          // color: #6c98b8;
          padding-top: 17px;
          opacity: 1;
        }//nav_element&:hover

        &:nth-child(2) {
          ul{
            background-color: #082a4f;
            opacity: 0.8;
            list-style: none;
            position: relative;
            top: -240px;
            max-height: 0;
            overflow: hidden;
            li {
              padding: 10px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              &:hover{
                background-color: darken(#082a4f,10%);

              }
              a {
                color: #6c98b8;
              }
            }
          }
        }

      }//nav_element

    }//nav_elements

  }//header_nav

  .welcome {

    width: 60%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
    color: #fff;
    font-weight: lighter;
    font-size: 4em;

    .welcome_message {

      font-size: 20px;
      width: 50%;
      display: block;
      margin: 0 auto;

    }//welcome_message


    .me {

      width: auto;
      height: auto;
      margin: 0 auto;
      border-radius: 50%;
      padding-top: 10px;

    }//me

    .social {

      width: 100%;
      height: 50px;
      margin: 0;
      font-size: 22px;
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .social_wrapper {

        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: +4;
        transition: background-color 0.2s;
        margin: 0 15px;


        &:hover {
         background-color: #082a4f;
       } //.social_wrapper&:hover

      }

      a i {

        color: #082a4f;
        transition: color 0.2s;
        position: relative;
        z-index: +7;


        &:hover {
          color: #fff;
        }

      }

    }//social

  }//welcome



  .skills {

    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    @include background-image-blue("/images/laptop.png");


    .info_wrapper {
      width: 40%;
      margin: 0 auto 20px;
      padding-top: 10%;
      text-align: center;
      font-weight: 200;
      font-size: 20px;
      line-height: 1.4em;

      .skills_header{
        font-size: 2.5em;
        padding-bottom: 35px;
        margin-top: 8px;
      }//skills_header
    }//info_wrapper

  }//skills

  .projects {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
  }

  .blog {
    padding: 80px 20px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    * {
      color: #082a4f;
    }

    .blog-headline {
      text-align: center;
      padding: 40px;
      h3 {
        padding: 20px 0;
      }//h3
    }//headline

    .post-entry {
      padding: 40px 0;
      transition: all 0.7s;
      &:nth-child(odd){
        transform: translateX(-900px);
        opacity: 0;
      }

      &:nth-child(even){
        transform: translateX(900px);
        opacity: 0;
      }

      &.is-showing{
        transform: translateX(0);
        opacity: 1;
      }

      .post-date {
        * {
          color: #6c98b8;
        }
        position: relative;
        display: inline-block;
        float: left;
        max-width: 15%;
      }

      .post-details {
        * {
          color: #082a4f;
          overflow: visible;
        }
        h2 {
          padding-bottom: 20px;
          -webkit-perspective: 1000px;
          -moz-perspective: 1000px;
          perspective: 1000px;
          a {
            line-height: 150%;
            position: relative;
          	display: inline-block;
          	padding: 0 14px;
          	background: #fff;
          	-webkit-transition: -webkit-transform 0.3s;
          	-moz-transition: -moz-transform 0.3s;
          	transition: transform 0.3s;
          	-webkit-transform-origin: 50% 0;
          	-moz-transform-origin: 50% 0;
          	transform-origin: 50% 0;
          	-webkit-transform-style: preserve-3d;
          	-moz-transform-style: preserve-3d;
          	transform-style: preserve-3d;
            i {
              color: #6c98b8;
            }

            &:before{
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              background: #6c98b8;
              color: #333;
              content: attr(data-text);
              -webkit-transition: background 0.3s;
              -moz-transition: background 0.3s;
              transition: background 0.3s;
              -webkit-transform: rotateX(-90deg);
              -moz-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
              -webkit-transform-origin: 50% 0;
              -moz-transform-origin: 50% 0;
              transform-origin: 50% 0;
            }//before


          }//a
          &:hover a,
          &:focus a {
            -webkit-transform: rotateX(90deg) translateY(-60px);
          	-moz-transform: rotateX(90deg) translateY(-60px);
          	transform: rotateX(90deg) translateY(-60px);
          }
        }//h2
        position: relative;
        display: inline-block;
        float: right;
        width: 80%;
        line-height: 160%;
      }


    }

  }//blog

  .contact {
    width: 100%;
    height: 60vh;
    position: relative;
    top: 0;

    @include background-image-blue('/images/contact.jpg');
    .contact_info_wrapper {
      width: 40%;
      height: auto;
      margin: 0 auto;
      padding-top: 6%;
      text-align: center;
      font-weight: 200;
      font-size: 20px;
      line-height: 1.4em;

      .contact_header {
        font-size: 2.5em;
        padding-bottom: 35px;
      }//skills_header


    } //contact_info_wrapper
  }//contact

  .social_contact {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
    a {
      padding: 20px 10px;
    }
  }

  #canvasElement {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    background: rgba(8,42,79,1);
    background: -moz-linear-gradient(top, rgba(8,42,79,0.9) 25%, rgba(8,42,79,0.85) 51%, rgba(200,200,200,0.75) 100%);
    background: -webkit-gradient(top, bottom, color-stop(25%, rgba(8,42,79,0.9)), color-stop(51%, rgba(8,42,79,0.85)), color-stop(100%, rgba(200,200,200,0.75)));
    background: -webkit-linear-gradient(top, rgba(8,42,79,0.9) 25%, rgba(8,42,79,0.85) 51%, rgba(200,200,200,0.75) 100%);
    background: -o-linear-gradient(top, rgba(8,42,79,0.9) 25%, rgba(8,42,79,0.85) 51%, rgba(200,200,200,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(8,42,79,0.9) 25%, rgba(8,42,79,0.85) 51%, rgba(200,200,200,0.75) 100%);
    background: linear-gradient(to bottom, rgba(8,42,79,0.9) 25%, rgba(8,42,79,0.85) 51%, rgba(200,200,200,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#082a4f', endColorstr='#386885', GradientType=0 );
    background-attachment: bottom;
  }

}//home

@include smallPhone {
  .home {

    .header_nav {
      height: 100px;
      bottom: 0px;
      .nav_elements {
        height: 100px;
        width: 80%;
        top: 0;
        .nav_element {
          height: 100px;
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
      }
    }
    .welcome {
      width: 100%;
      .welcome_message {
        width: 80%;
        font-size: .7em;
      }
    }
    .skills {
      a {
        text-decoration: underline;
      }
      .info_wrapper {
        * {
          overflow: visible;
        }
        width: 80%;
        font-size: 2.4em;
        font-weight: 400;
        .skills_header {
          font-weight: 400;
        }
      }
    }

    .blog {
      padding: 80px 20px;
      width: 85%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      * {
        color: #082a4f;
      }

      .blog-headline {
        text-align: center;
        padding: 40px;
        h3 {
          padding: 20px 0;
        }//h3
      }//headline

      .post-entry {
        padding: 40px 0;
        transition: all 0.7s;
        &:nth-child(odd){
          transform: translateX(-900px);
          opacity: 0;
        }

        &:nth-child(even){
          transform: translateX(900px);
          opacity: 0;
        }

        &.is-showing{
          transform: translateX(0);
          opacity: 1;
        }

        .post-date {
          * {
            color: #6c98b8;
          }
          position: relative;
          display: inline-block;
          float: left;
          max-width: 15%;
        }

        .post-details {
          * {
            color: #082a4f;
          }
          h2 {
            padding-bottom: 20px;
            &:hover a,
            &:focus a {
              transform: rotateX(0);
            }
          }//h2

          position: relative;
          display: inline-block;
          float: right;
          width: 80%;
          line-height: 160%;
        }


      }

    }//blog
    .social_wrapper{
      height: 50px;
      width: 50px;
      > a i {
        font-size: 1.3em;
      }
    }

    .contact {
      height: 50vh;
      .contact_info_wrapper {
        width: 80%;
        font-size: 2.3em;
        font-weight: 400;
      }
      .social_contact a{
        font-size: 1.5em;
        padding: 25px 10px;
        margin: 0 25px;
      }
    }
  }
}

@include bigPhone {
  .home {
    .header_nav {
      height: 100px;
      bottom: 0px;
      .nav_elements {
        height: 100px;
        width: 80%;
        top: 0;
        .nav_element {
          height: 100px;
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
      }
    }

    .welcome {
      width: 100%;

      .welcome_message {
        width: 80%;
        font-size: .57em;
      }

    }
    .skills {
      a {
        text-decoration: underline;
      }
      .info_wrapper {
        * {
          overflow: visible;
        }
        width: 80%;
        font-size: 2.1em;
        font-weight: 400;
      }
    }
    .social_wrapper{
      height: 50px;
      width: 50px;
      > a i {
        font-size: 1.3em;
      }
    }

    .contact {
      height: 50vh;
      .contact_info_wrapper {
        width: 80%;
        font-size: 2.0em;
        font-weight: 400;
      }
      .social_contact a{
        font-size: 1.5em;
        padding: 25px 10px;
        margin: 0 25px;
      }
    }

  }
}

@include tablet {
  .home {
    .header_nav {
      height: 100px;
      bottom: 0px;
      .nav_elements {
        height: 100px;
        width: 80%;
        top: 0;
        .nav_element {
          height: 100px;
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
      }
    }
    .welcome {
      width: 100%;
      .welcome_message {
        width: 80%;
        font-size: .555em;
      }
    }
    .skills {
      a {
        text-decoration: underline;
      }
      .info_wrapper {
        * {
          overflow: visible;
        }
        width: 80%;
        font-size: 2.1em;
        font-weight: 400;
      }
    }
    .social_wrapper{
      height: 50px;
      width: 50px;
      > a i {
        font-size: 1.3em;
      }
    }

    .contact {
      height: 50vh;
      .contact_info_wrapper {
        width: 80%;
        font-size: 2.0em;
        font-weight: 400;
      }
      .social_contact a{
        font-size: 1.5em;
        padding: 25px 10px;
        margin: 0 25px;
      }
    }

  }
}

@include tabletLandscape {
  .home {
    .welcome {
      .welcome_message {
        font-size: .3em;
      }
    }
    .skills {
      .info_wrapper {
        font-size: 1.4em;
        * {
          overflow: visible;
        }
      }
    }
    .contact {
      font-size: .6em;
      // height: 80vh;
    }
  }
}

@include bigPhoneLandscape {
  .home {

    .header_nav {
      height: 70px;
      bottom: 0px;
      .nav_elements {
        height: 70px;
        width: 80%;
        top: 0;
        .nav_element {
          height: 70px;
          font-size: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
      }
    }
    .welcome {
      padding-top: 1%;
      .welcome_message {
        font-size: .4em;
      }
      .me {
        display: none;
      }
    }
    .skills {
      .info_wrapper {
        font-size: 1.1em;
        * {
          overflow: visible;
        }

      }
    }
    .contact {
      font-size: .6em;
      height: 80vh;
      * {
        overflow: visible;
      }
    }
  }
}

@include bigPhoneLandscapeRetina {
  .home {

    .header_nav {
      height: 70px;
      bottom: 0px;
      .nav_elements {
        height: 70px;
        width: 80%;
        top: 0;
        .nav_element {
          height: 70px;
          font-size: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
      }
    }
    .welcome {
      padding-top: 1%;
      .welcome_message {
        font-size: .4em;
      }
      .me {
        display: none;
      }
    }
    .skills {
      .info_wrapper {
        font-size: 1.1em;
        * {
          overflow: visible;
        }

      }
    }
    .contact {
      font-size: .6em;
      height: 80vh;
      * {
        overflow: visible;
      }
    }
  }
}
